body {
    background: gray;
}

/* Nav Details */

.mynav {
    background-color: #FFF !important; 
}

.mynav a:hover {
    border-bottom: 2px solid black;
}

.img-fluid {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .Container {
    text-align: center;
    align: auto;
    display: inline-block
    float: none;
  }